/** Colors **/
.blue { background-color: @blue; }
.turquoise { background-color: @turquoise; }
.green { background-color: @green; }
.yellow { background-color: @yellow; }
.blue-gradient {
    background-color: #435b80;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(67, 91, 128)),to(rgb(46, 61, 85)));
    background-image: -webkit-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: -moz-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: -o-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: -ms-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#435b80', EndColorStr='#2e3d55');
}

/** Variables **/
@blue: rgba(67,118,169,1);
@turquoise: rgba(0,97,110,1);
@green: rgba(23,186,188,1);
@yellow: rgba(215,222,85,1);
@main-nav-tab-width: 83px;
@ces-brand-height: 100px;

#header {
    background-color: rgba(21,29,41,1);

    #livefyre-brand {
        background: url('media/newshub_logo.png');
        width: 206px;
        height: 30px;
        float: right;
        position: relative;
        top: 35px;
        right: 80px;
    }
}
#header-nav {
    font-size: 11px;
    letter-spacing: -1px;
    text-transform: uppercase;

    .nav-tabs li {
        width: @main-nav-tab-width;
        text-align: center;
        &:hover {
            cursor: pointer;
            a {
                cursor: pointer;
            }
        }
    }

    #main-nav > ul {
        margin-right: auto;
        margin-left: auto;

        li {
            border: none;
        }
    }

    #main-nav {
        margin-left: -100px;

        .nav {
            margin-bottom: 0;
        }
        
        li#main-nav-home.active {
            a:hover {
                background: url('media/home_button.png') no-repeat 0px 1px;
            }
        }

        li.active a {
            border: none;
        }

        a {
            width: 83px;
            padding-left: 0;
            padding-right: 0;
            border-radius: 0;
            color: white;
            font-weight: bold;

            &:hover {
                border: none;
                color: #FFF;
                text-decoration: none;
            }
        }

        li#main-nav-home {
            width: 50px;
            text-indent: -9999px;

            a {
                border: none;
                background: url('media/home_button.png') no-repeat 0px 1px;
                margin: auto;
                width: 22px;
                height: 20px;
                display: block;
                padding: 0;
                margin-top: 7px;

                &:hover {
                    border: none;
                    background: url('media/home_button.png') no-repeat 0px -20px;
                }
            }
        }

        li#main-nav-exhibitors a:hover,
        li#main-nav-exhibitors.active a {
            background-color: @blue;
        }

        li#main-nav-news a:hover,
        li#main-nav-news.active a {
           background-color: @turquoise;
        }

        li#main-nav-media a:hover,
        li#main-nav-media.active a {
           background-color: @green;
        }

        li#main-nav-products a:hover,
        li#main-nav-products.active a {
           background-color: @yellow;
        }
    }
}

.brand {
    margin-top: 0;
    margin-bottom: 0;
}

.ces-brand { 
    display: block;
    float: left;
    color: #FFF;
    width: @main-nav-tab-width;
    height: @ces-brand-height;
    line-height: @ces-brand-height;
    text-align: center;
}

/*
 * Deck Layout
 */
.deck {
    overflow-x: auto;
    padding-left: 1em;
    padding-right: 1em;
}
/*
 * Exhibitors
 */
.brand-env {
	vertical-align: top;
}

.brand-env .hub-item {
	background-color: #f2f6fc ;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 246, 252)),to(rgb(220, 229, 234)));
	background-image: -webkit-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: -moz-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: -o-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: -ms-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #f2f6fc ', EndColorStr=' #dce5ea ');
	margin-bottom: 0.5em;
	padding: 0.5em;
    -webkit-animation: fadeIn 300ms;
    -moz-animation: fadeIn 300ms;
    animation: fadeIn 300ms;
}

@-moz-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
