/** Variables **/
@blue: rgba(102,137,181,1);
@blue90: rgba(102,137,181,.9);
@turquoise: rgba(52,114,127,1);
@turquoise90: rgba(52,114,127,.9);
@green: rgba(122,195,199,1);
@green90: rgba(122,195,199,.9);
@yellow: rgba(224,224,110,1);
@yellow90: rgba(224,224,110,.9);
@livefyre-dark: rgba(21,29,41,1);
@main-nav-tab-width: 83px;
@ces-brand-height: 100px;
@proxima-nova-font-family: proxima-nova,"Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;

/** Colors **/
.blue { background-color: @blue; }
.turquoise { background-color: @turquoise; }
.green { background-color: @green; }
.yellow { background-color: @yellow; }
.blue-gradient {
    background-color: #435b80;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(67, 91, 128)),to(rgb(46, 61, 85)));
    background-image: -webkit-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: -moz-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: -o-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: -ms-linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    background-image: linear-gradient(top, rgb(67, 91, 128), rgb(46, 61, 85));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#435b80', EndColorStr='#2e3d55');
}
.turquoise-gradient {
    background-color: #387582;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(56, 117, 130)),to(rgb(39, 83, 93)));
    background-image: -webkit-linear-gradient(top, rgb(56, 117, 130), rgb(39, 83, 93));
    background-image: -moz-linear-gradient(top, rgb(56, 117, 130), rgb(39, 83, 93));
    background-image: -o-linear-gradient(top, rgb(56, 117, 130), rgb(39, 83, 93));
    background-image: -ms-linear-gradient(top, rgb(56, 117, 130), rgb(39, 83, 93));
    background-image: linear-gradient(top, rgb(56, 117, 130), rgb(39, 83, 93));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#387582', EndColorStr='#27535d');
}
.green-gradient {
    background-color: #7dc4c8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(125, 196, 200)),to(rgb(90, 143, 146)));
    background-image: -webkit-linear-gradient(top, rgb(125, 196, 200), rgb(90, 143, 146));
    background-image: -moz-linear-gradient(top, rgb(125, 196, 200), rgb(90, 143, 146));
    background-image: -o-linear-gradient(top, rgb(125, 196, 200), rgb(90, 143, 146));
    background-image: -ms-linear-gradient(top, rgb(125, 196, 200), rgb(90, 143, 146));
    background-image: linear-gradient(top, rgb(125, 196, 200), rgb(90, 143, 146));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7dc4c8', EndColorStr='#5a8f92');
}
.yellow-gradient{
    background-color: #d1ce67;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(209, 206, 103)),to(rgb(151, 148, 73)));
    background-image: -webkit-linear-gradient(top, rgb(209, 206, 103), rgb(151, 148, 73));
    background-image: -moz-linear-gradient(top, rgb(209, 206, 103), rgb(151, 148, 73));
    background-image: -o-linear-gradient(top, rgb(209, 206, 103), rgb(151, 148, 73));
    background-image: -ms-linear-gradient(top, rgb(209, 206, 103), rgb(151, 148, 73));
    background-image: linear-gradient(top, rgb(209, 206, 103), rgb(151, 148, 73));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #d1ce67 ', EndColorStr='#979449');
}

body {
    min-width: 960px;
    font-family: @proxima-nova-font-family;
    font-weight: 400px;
}

#header {
    background-color: @livefyre-dark;

    #brand-spacer {
        margin-left: 50px;
    }

    #livefyre-brand {
        background: url('media/newshub_logo.png');
        width: 150px;
        height: 22px;
        float: right;
        margin-top: 40px;
        margin-left: 145px;
        position: relative;
        right: 50px;
    }
}
#header-nav {
    margin-bottom: 20px;
    font-size: 11px;
    text-transform: uppercase;

    .nav-tabs li {
        width: @main-nav-tab-width;
        text-align: center;
    }

    #main-nav-wrapper {
        margin-left: 0px;
    }

    #main-nav > ul {
        margin-right: auto;
        margin-left: auto;

        li {
            border: none;
        }
    }

    #main-nav {
        width: 100%;
        height: 35px;
        float: left;

        .nav-tabs {
            border: none;
        }

        li#main-nav-home.active a {
            background: url('media/home_button.png') no-repeat 0px -13px;
            opacity: 1;

            &:hover {
                background: url('media/home_button.png') no-repeat 0px -13px;
            }
        }

        li.active a {
            border: none;
        }

        a {
            width: 83px;
            padding-left: 0;
            padding-right: 0;
            border-radius: 0;
            border: none;
            color: white;
            font-weight: bold;

            &:hover {
                border: none;
                color: #FFF;
                text-decoration: none;
            }
        }

        #main-nav-buttons {
            width: 50%;
            float: left;

            li#main-nav-home.active a {
                background: url('media/home_button.png') no-repeat 0px -13px;
                opacity: 1;

                &:hover {
                    background: url('media/home_button.png') no-repeat 0px -13px;
                }
            }

            li#main-nav-home {
                width: 50px;
                text-indent: -9999px;

                a {
                    border: none;
                    background: url('media/home_button.png') no-repeat 0px -13px;
                    opacity: 0.5;
                    margin: auto;
                    width: 14px;
                    height: 12px;
                    display: block;
                    padding: 0;
                    margin-top: 11px;

                    &:hover {
                        border: none;
                        opacity: 1;
                        background: url('media/home_button.png') no-repeat 0px -13px;
                    }
                }
            }

            li#main-nav-exhibitors a:hover,
            li#main-nav-exhibitors.active a {
                background-color: @blue;
            }

            li#main-nav-news a:hover,
            li#main-nav-news.active a {
               background-color: @turquoise;
            }

            li#main-nav-media a:hover,
            li#main-nav-media.active a {
               background-color: @green;
            }

            li#main-nav-products a:hover,
            li#main-nav-products.active a {
               background-color: @yellow;
            }
        }

        #main-nav-right {
            width: 50%;
            height: 35px;
            float: right;
            position: relative;
            right: 40px;

            #main-nav-social {
                float: right;
                margin-right: -10px;
            }
            a:hover { background: none; }

            .social-button {
                text-align: right;
                padding-top: 7px;
                margin-left: 15px;
            }
        }
    }
}

.brand {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0;
    margin-bottom: 0;
}
.brand .heading {
    color: white;
    height: 26px;
    padding: 3px 10px;

    h2 {
        font-size: 1em;
        font-weight: normal;
        line-height: 2em;
        margin-top: 0;
        margin-bottom: 0.25em;
        text-transform: uppercase;
    }
}

.ces-brand { 
    display: block;
    float: left;
    color: #FFF;
    width: @main-nav-tab-width;
    height: @ces-brand-height;
    line-height: @ces-brand-height;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

#main-nav-content {
    background: #666;
    height: 30px;
    width: 100%;
    float: left;

    a {
        color: #FFF;
        height: 30px;
        line-height: 30px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;

        &:hover {
            border-radius: 0;
            background: #888;
        }
    }

    .tab-pane {
        display: none;
    }

    .active {
        display: block;
    }
}

/*
 * Home page
 */
#day-nav {
    display: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    li {
        margin: 0 10px;
    }
}
.day-num {
    font-size: 22px;
    font-weight: 550;
    vertical-align: sub;
}

/*
 * Deck Layout
 */
.deck {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 185px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
}
.deck-columns {
    height: 100%;
    overflow: visible;
}
.deck-col {
    height: 100%;
    margin: 0 0.25em;
    position: relative;
}
.deck-col-scroll {
    position: absolute;
    top: 35px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 200px;
    -webkit-overflow-scrolling: touch;
}
.brand-env {
	vertical-align: top;
    border-top: 1px solid rgb(182,196,203);
}

.brand-env .hub-item {
	background-color: #f2f6fc ;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 246, 252)),to(rgb(220, 229, 234)));
	background-image: -webkit-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: -moz-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: -o-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: -ms-linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	background-image: linear-gradient(top, rgb(242, 246, 252), rgb(220, 229, 234));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=' #f2f6fc ', EndColorStr=' #dce5ea ');
    border-right: 1px solid rgb(182,196,203);
    border-left: 1px solid rgb(182,196,203);
    border-bottom: 1px solid rgb(182,196,203);
    cursor: pointer;
    -webkit-animation: fadeIn 300ms;
    -moz-animation: fadeIn 300ms;
    animation: fadeIn 300ms;

    & > article {
        padding: 0.5em;
    }
    & > article.brand-instagram {
        padding: 0;
        position: relative;

        .hub-heading {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.6);
            padding: 5px;
            height: auto;
            color: white;
        }
        .hub-body-html {
            display: none;
        }
    }
    & > article.brand-instagram:hover .hub-body-html {
        display: block;
    }

    & > article.brand-rss {
        background: @blue;
        color: white;
        min-height: 150px;
        max-height: 400px;
        overflow: hidden;
        text-overflow: ellipsis;

        .hub-author {
            float: left;
            text-transform: uppercase;
            font-weight: 200;
            font-size: 11px;
        }
        .hub-timestamp {
            float: right;
        }
        .hub-body-html {
            padding-bottom: 10px;
            font-size: 20px;
            line-height: 22px;
            clear: both;
        }
    }

    .hub-avatar img {
        width: 48px;
        height: 48px;
    }
}

.exhibitors {
    .brand-env .hub-item {
        & > article.brand-instagram {
            .hub-heading {
                background: @blue90;
            }
        }

        & > article.brand-rss {
            background: @blue;
        }
    }
}
.news {
    .brand-env .hub-item {
        & > article.brand-instagram {
            .hub-heading {
                background: @turquoise90;
            }
        }

        & > article.brand-rss {
            background: @turquoise;
        }
    }
}
.media {
    .brand-env .hub-item {
        & > article.brand-instagram {
            .hub-heading {
                background: @green90;
            }
        }

        & > article.brand-rss {
            background: @green;
        }
    }
}
.products {
    .brand-env .hub-item {
        & > article.brand-instagram {
            .hub-heading {
                background: @yellow90;
            }
        }

        & > article.brand-rss {
            background: @yellow;
        }
    }
}

/*
 * Home
 */
.home #main-nav-content {
    display: none;
}

/*
 * Exhibitors
 */
.exhibitors #main-nav-content {
    background: @blue;
}

/*
 * News
 */
.news #main-nav-content {
    background: @turquoise;
}


/*
 * Media Wall
 */
.media #main-nav-content {
    background: @green;
}
body.media {
    background: #222;
}

/*
 * Products
 */
.products #main-nav-content {
    background: @yellow;
}


/*
 * Animations
 */
@-moz-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

/*
 * Media queries
 */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .ces-brand {
        height: 75px;
        line-height: 80px;
    }
    #livefyre-brand {
        margin-top: 25px;
    }
}

