.blue { background-color: rgba(67,118,169,1); }
.turquoise { background-color: rgba(0,97,110,1); }
.green { background-color: rgba(23,186,188,1); }
.yellow { background-color: rgba(215,222,85,1); }

.ces-brand { 
    display: block;
    float: left;
    color: #FFF;
    width: 50px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
