.blue{background-color:#4376a9;}
.turquoise{background-color:#00616e;}
.green{background-color:#17babc;}
.yellow{background-color:#d7de55;}
.blue-gradient{background-color:#435b80;background-image:-webkit-gradient(linear, left top, left bottom, from(#435b80), to(#2e3d55));background-image:-webkit-linear-gradient(top, #435b80, #2e3d55);background-image:-moz-linear-gradient(top, #435b80, #2e3d55);background-image:-o-linear-gradient(top, #435b80, #2e3d55);background-image:-ms-linear-gradient(top, #435b80, #2e3d55);background-image:linear-gradient(top, #435b80, #2e3d55);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#435b80', EndColorStr='#2e3d55');}
#header{background-color:#151d29;}
#header-nav{font-size:11px;letter-spacing:-1px;text-transform:uppercase;}#header-nav .nav-tabs li{width:83px;text-align:center;}
#header-nav #main-nav>ul{margin-right:auto;margin-left:auto;}
.brand{margin-top:0;margin-bottom:0;}
.ces-brand{display:block;float:left;color:#FFF;width:83px;height:100px;line-height:100px;text-align:center;}
