.blue{background-color:#4376a9;}
.turquoise{background-color:#00616e;}
.green{background-color:#17babc;}
.yellow{background-color:#d7de55;}
.ces-brand{display:block;float:left;color:#FFF;width:50px;height:80px;line-height:80px;text-align:center;}
